In [6]:
# Question No 1
import pandas as pd

In [7]:
data = [4,8,15,16,23,42]

In [10]:
 series = pd.Series(data)

In [11]:
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [16]:
# Question No 2
data1 = [1,2,3,4,'Mohd','Adnan','Ahmed',7,8,9]

In [17]:
df = pd.Series(data1)

In [18]:
print(df)

0        1
1        2
2        3
3        4
4     Mohd
5    Adnan
6    Ahmed
7        7
8        8
9        9
dtype: object

In [19]:
# Question No 3
data2 = {
    'Name':['Alice', 'Bob', 'Claire'],
    'age' :[25,30,27],
    'Gender': ['Female', 'Male', 'Female']
}

In [20]:
df2 = pd.DataFrame(data2)

In [21]:
print(df2)

     Name  age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [26]:
# Question No 4
'''A DataFrame in Pandas is a two-dimensional, size-mutable, and potentially heterogeneous
tabular data structure with labeled axes (rows and columns). It is similar to a
spreadsheet or SQL table, or a dictionary of Series objects.

Differences.

Dimensions:
Series: One-dimensional.
DataFrame: Two-dimensional.
    
Structure:
Series: A single column of data.
DataFrame: Multiple columns, each of which can be a Series.
    
Use Case:
Series: Useful for representing a single column or row of data.
DataFrame: Useful for representing tabular data with multiple rows and columns.'''

'A DataFrame in Pandas is a two-dimensional, size-mutable, and potentially heterogeneous\ntabular data structure with labeled axes (rows and columns). It is similar to a\nspreadsheet or SQL table, or a dictionary of Series objects.\n\nDifferences.\n\nDimensions:\nSeries: One-dimensional.\nDataFrame: Two-dimensional.\n    \nStructure:\nSeries: A single column of data.\nDataFrame: Multiple columns, each of which can be a Series.\n    \nUse Case:\nSeries: Useful for representing a single column or row of data.\nDataFrame: Useful for representing tabular data with multiple rows and columns.'

In [22]:
# Question No 5
Common Functions in Pandas DataFrame
head() and tail():

Display the first or last n rows of the DataFrame.
Example: df.head(5) shows the first 5 rows.
describe():

Provides summary statistics of numerical columns.
Example: df.describe() gives mean, std, min, max, etc., for each numerical column.
info():

Provides a summary of the DataFrame, including data types and non-null counts.
Example: df.info() displays a concise summary of the DataFrame.
shape:

Returns the number of rows and columns in the DataFrame.
Example: df.shape gives a tuple (number of rows, number of columns).
drop():

Removes rows or columns from the DataFrame.
Example: df.drop('column_name', axis=1) removes a column named 'column_name'.
loc[] and iloc[]:

Access a group of rows and columns by labels or positions.
Example: df.loc[0] accesses the first row by label, df.iloc[0] by position.

In [27]:
# Question No 6
'''In Pandas, both Series and DataFrame are mutable in nature,
meaning you can modify their data after they are created. However,
Panel has been deprecated as of Pandas version 0.25.0, so it is no longer used or recommended for use.'''

'In Pandas, both Series and DataFrame are mutable in nature,\nmeaning you can modify their data after they are created. However,\nPanel has been deprecated as of Pandas version 0.25.0, so it is no longer used or recommended for use.'

In [31]:
# Question No 7
import pandas as pd
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25,30,27])
genders = pd.Series(['Female', 'Male', 'Female'])

data4 = {
    'Name' : names,
    'Age' : ages,
    'Gender' : genders
}

df3 = pd.DataFrame(data4)
print(df3)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female